<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.CodeAnalysis.Analyzers" version="3.0.0" targetFramework="net472" developmentDependency="true" />
  <package id="Microsoft.CodeAnalysis.BannedApiAnalyzers" version="3.0.0" targetFramework="net472" developmentDependency="true" />
  <package id="Microsoft.CodeAnalysis.FxCopAnalyzers" version="3.0.0" targetFramework="net472" developmentDependency="true" />
  <package id="Microsoft.CodeAnalysis.VersionCheckAnalyzer" version="3.0.0" targetFramework="net472" developmentDependency="true" />
  <package id="Microsoft.CodeQuality.Analyzers" version="3.0.0" targetFramework="net472" developmentDependency="true" />
  <package id="Microsoft.NetCore.Analyzers" version="3.0.0" targetFramework="net472" developmentDependency="true" />
  <package id="Microsoft.NetFramework.Analyzers" version="3.0.0" targetFramework="net472" developmentDependency="true" />
  <package id="Microsoft.VisualStudio.SDK.Analyzers" version="16.6.11" targetFramework="net472" />
  <package id="Microsoft.VisualStudio.Threading.Analyzers" version="16.6.13" targetFramework="net472" />
  <package id="Microsoft.VSSDK.BuildTools" version="16.6.2058" targetFramework="net472" developmentDependency="true" />
</packages>